{% load staticfiles %}


<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{#        <script type='text/javascript' src="{% static 'js/instagram.js' %}"></script>#}
        {% block extra_head %} {% endblock extra_head %}
    </head>
    <body>
        <nav>
            {% if not user.is_authenticated %}
                <a href="{% url 'social:begin' 'facebook' %}">Facebook Login</a>
            {% else %}
                Hi {{ user.username }}!
            {% endif %}
        </nav>
        {% block content %}{% endblock content %}
    </body>
</html>