<!----< Microphone initialized, tiles loaded on this page >---->


{% extends 'base_template.html' %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/microphone.min.css' %}">
{% endblock extra_head %}

{% block content %}

<div id="container">
    <div class="row">
    <!-- Facebook tiles go in here -->

    </div>
</div>


<div id="microphone"></div>
<div id="info"></div>
<div id="error"></div>
<script src="{% static 'js/vendor/microphone.min.js' %}"></script>
<script src={% static 'js/main.js' %}></script>
{% endblock content %}